@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --body-bg-color: #f5f5f5;
  --banar-bg-color: #c6e4d6;
  --primary-btn-color: #006a50;
  --heading-text-color: #0e0e0e;
  --sub-heading-text-color: rgba(14, 14, 14, 0.801);
  --para-text-color: rgba(14, 14, 14, 0.685);
}

/* SHARED CSS ------------------------>>>>>>>>>>> */
.body-bg-color {
  background-color: var(--body-bg-color);
}
.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}
.container {
  padding: 0px 130px;
}
main section {
  margin-top: 70px;
}
.heading {
  color: var(--heading-text-color);
  font-size: 56px;
  font-weight: 700;
  margin: 0;
  /* padding: 0; */
}
.sub-headings {
  color: var(--sub-heading-text-color);
  /* margin: 9px; */
  margin-top: 12px;
  margin-bottom: 10px;
  font-size: 20px;
}
.section-title {
  font-size: 34px;
  font-weight: 700;
}
.text-gray-400 {
  color: var(--para-text-color);
}
.t-15 {
  font-size: 15px;
}
.btn {
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.btn-primary {
  background-color: var(--primary-btn-color);
}

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* SHARED CSS END ------------------------>>>>>>>>>>> */

/* HEADER SECTION ------------------------>>>>>>>>>>> */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h1 {
  font-size: 32px;
}
.singin-btn button {
  background: transparent;
  border: 1px solid #079b76;
  color: var(--primary-btn-color);
  border-radius: 7px;
  padding: 9px 14px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
/* HEADER SECTION END ------------------------>>>>>>>>>>> */

/* BANAR SECTION START ------------------------>>>>>>>>>>> */
.banar {
  /* height: 560px; */
  border-radius: 18px;
  padding: 70px 30px 80px 60px;
  background-color: var(--banar-bg-color);
}
.banar-context {
  display: flex;
  flex-wrap: wrap;
  /* gap: 15px; */
  justify-content: space-between;
  align-items: center;
}
.banar-details h3 {
  color: var(--para-text-color);
}
.banar-details button {
  margin-top: 20px;
}
.banar-details:nth-child(1) {
  flex-basis: 60%;
  /* width: 320px; */
}
.banar-details:nth-child(2) {
  flex-basis: 40%;
}
.banar-details img {
  width: 350px;
  margin: 0;
  padding: 0;
  align-items: flex-end;
}
/* BANAR SECTION END  ------------------------>>>>>>>>>>> */
/* PILLARS OG BD START  ------------------------>>>>>>>>>>> */
#pillars-of-bd {
  /* background-color: #079b76; */
}
.all-pillar {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.pillar {
  flex-basis: 20%;
  background-color: white;
  border-radius: 12px;
  border: 1px solid rgb(236, 232, 232);
  padding: 14px;
}
.pillar img {
  width: 50px;
}
.pillar-desc {
  color: var(--para-text-color);
  font-size: 15px;
}
/* PILLARS OG BD END  ------------------------>>>>>>>>>>> */

/* VISION OF FUTURE  ------------------------>>>>>>>>>>> */
.visions {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}
.vision {
  flex-basis: 28%;
  border-radius: 12px;
  padding: 22px;
  background-color: rgb(253, 177, 76);
}
.vision:nth-child(1) {
  background-color: #a7dbd869;
}
.vision:nth-child(1) .v-btn {
  background-color: #55c3da;
}
.vision:nth-child(2) {
  background-color: #c048486e;
}
.vision:nth-child(2) .v-btn {
  background-color: #f07241;
}
.vision:nth-child(3) {
  background-color: #ccd91a5e;
}
.vision:nth-child(3) .v-btn {
  background-color: #668c4d;
}


/* VISION OF FUTURE END  ------------------------>>>>>>>>>>> */
