@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --brand-name-color: #953256;
  --body-bg-color: #f9dbbd;
  --banar-bg-color: #ffa5ab;
  --primary-btn-color: #a53860;
  --heading-text-color: #450920;
  --sub-heading-text-color: #450920b2;
  --para-text-color: #450920c7;
  --hover-color: #ffa5ab;
  /* --body-bg-color: #f5f5f5;
  --banar-bg-color: #c6e4d6;
  --primary-btn-color: #006a50;
  --heading-text-color: #0e0e0e;
  --sub-heading-text-color: rgba(14, 14, 14, 0.801);
  --para-text-color: rgba(14, 14, 14, 0.685);
  --hover-color: #e7eed0; */
}

/* SHARED CSS ------------------------>>>>>>>>>>> */
.body-bg-color {
  background-color: var(--body-bg-color);
}
.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}
.container {
  padding: 0px 130px;
}
main section {
  margin-top: 70px;
}
.heading {
  color: var(--heading-text-color);
  font-size: 56px;
  font-weight: 700;
  margin: 0;
  /* padding: 0; */
}
.sub-headings {
  color: var(--sub-heading-text-color);
  /* margin: 9px; */
  margin-top: 12px;
  margin-bottom: 10px;
  font-size: 20px;
}
.section-title {
  color: var(--heading-text-color);
  font-size: 34px;
  font-weight: 700;
}
.text-gray-400 {
  color: var(--para-text-color);
}
.t-15 {
  font-size: 15px;
}
.btn {
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.btn:hover {
  transform: scale(1.07);
  /* background: rgb(210, 156, 176); */
  background: linear-gradient(
    90deg,
    rgba(210, 156, 176, 1) 0%,
    rgba(183, 96, 128, 1) 49%,
    rgba(165, 56, 96, 1) 91%,
    rgba(132, 45, 77, 1) 100%
  );
}
.btn-primary {
  background-color: var(--primary-btn-color);
}

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* SHARED CSS END ------------------------>>>>>>>>>>> */

/* HEADER SECTION ------------------------>>>>>>>>>>> */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0;
}
nav h1 {
  font-size: 32px;
  color: var(--brand-name-color);
  flex-grow: 1;
  flex-basis: 50%;
  /* background-color: #30cfd0; */
}
.singin-btn {
  /* flex-grow: 1; */
  /* flex-basis: 50%; */
  /* display: flex;
  align-items: end; */
  /* background-color: #00dbde; */
}
.singin-btn button {
  background: transparent;
  border: 1px solid var(--heading-text-color);
  color: var(--primary-btn-color);
  border-radius: 7px;
  padding: 9px 14px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  /* align-items: end; */
}
/* HEADER SECTION END ------------------------>>>>>>>>>>> */

/* BANAR SECTION START ------------------------>>>>>>>>>>> */
.banar {
  /* height: 560px; */
  border-radius: 18px;
  padding: 70px 30px 80px 60px;
  background-color: var(--banar-bg-color);
}
.banar-context {
  display: flex;
  flex-wrap: wrap;
  /* gap: 15px; */
  justify-content: space-between;
  align-items: center;
}

.banar-details h3 {
  color: var(--para-text-color);
}
.banar-details button {
  margin-top: 20px;
}
.banar-details:nth-child(1) {
  flex-basis: 60%;
  /* width: 320px; */
}
.banar-details:nth-child(2) {
  flex-basis: 40%;
}
.banar-details img {
  width: 350px;
  margin: 0;
  padding: 0;
  align-items: flex-end;
}
/* BANAR SECTION END  ------------------------>>>>>>>>>>> */
/* PILLARS Of BD START  ------------------------>>>>>>>>>>> */
#pillars-of-bd {
  /* background-color: #079b76; */
}
.all-pillar {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.pillar {
  flex-basis: 20%;
  flex-grow: 1;
  background-color: white;
  border-radius: 12px;
  border: 1px solid rgb(236, 232, 232);
  padding: 14px;
  transition: all 0.4s ease;
}
.pillar:hover {
  transform: scale(1.06);
  color: white;
  /* background-color: var(--hover-color); */
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}
.pillar img {
  width: 50px;
}
.pillar-desc {
  color: var(--para-text-color);
  font-size: 15px;
  text-align: justify;
}
/* PILLARS OG BD END  ------------------------>>>>>>>>>>> */

/* VISION OF FUTURE  ------------------------>>>>>>>>>>> */
.visions {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}
.vision {
  flex-basis: 28%;
  flex-grow: 1;
  border-radius: 12px;
  padding: 22px;
  /* background-color: rgb(253, 177, 76); */
  transition: all 0.3s ease;
}

.vision:hover {
  transform: rotate(10deg);
  box-shadow: 0px 10px 13px -7px #000000, 6px 14px 11px 4px rgba(97, 0, 8, 0.32);
}
.vision:nth-child(1) {
  background-color: #a7dbd869;
  background-color: #00dbde;
  background-image: linear-gradient(
    to right,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #b465da 0%,
    #cf6cc9 33%,
    #ee609c 66%,
    #ee609c 100%
  );
}
.vision:nth-child(1) .v-btn {
  background-color: #55c3da;
  background-color: #00dbde;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.vision:nth-child(2) {
  background-color: #c048486e;
  background-color: #85ffbd;
  background-image: linear-gradient(
    to right,
    #eea2a2 0%,
    #bbc1bf 19%,
    #57c6e1 42%,
    #b49fda 79%,
    #7ac5d8 100%
  );
}
.vision:nth-child(2) .v-btn {
  background-color: #f07241;
  background-color: #85ffbd;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.vision:nth-child(3) {
  background-color: #ccd91a5e;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
.vision:nth-child(3) .v-btn {
  background-color: #668c4d;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

/* VISION OF FUTURE END  ------------------------>>>>>>>>>>> */
/* YUNUS QOUTES  ------------------------>>>>>>>>>>> */
#yunus-qoute {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid rgb(219, 219, 219);
  background-image: url("/assets/quote-bg.png");
  background-repeat: no-repeat;
  background-position: 2% 4%;
  transition: all 0.4s ease;
}
#yunus-qoute:hover {
  transform: scaleX(1.03);
}
.designation {
  font-size: 12px;
  color: gray;
}
/* YUNUS QOUTES END  ------------------------>>>>>>>>>>> */
/* Opinions  ------------------------>>>>>>>>>>> */
#opinions {
  width: 100%;
}
.tables {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  color: var(--para-text-color);
}
table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(214, 214, 214);
}
thead {
  background-color: var(--banar-bg-color);
}
th {
  padding: 20px;
  text-align: start;
  border: 1px solid rgb(214, 214, 214);
}
td {
  padding: 20px 10px;
  border: 1px solid rgb(214, 214, 214);
  font-weight: 500;
}
select {
  background-color: var(--banar-bg-color);
  padding: 9px 20px;
  border-radius: 6px;
}

/* Opinions End  ------------------------>>>>>>>>>>> */

/* RECENT NEWS  ------------------------>>>>>>>>>>> */
.all-news {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.news {
  background-color: white;
  padding: 29px 28px 29px 0px;
  border-radius: 24px;
  flex-grow: 1;
  /* flex-basis: 90%; */
  display: flex;
  flex-wrap: wrap;
  /* gap: 5px; */

  transition: 0.7s ease;
}
.news:hover {
  transform: scale(1.02);
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
}
.news:nth-child(2) .news-thumbnail {
  order: 2;
}
.news-thumbnail {
  /* background-color: #00dbde; */
  flex-basis: 38%;
  flex-grow: 1;
  text-align: center;
  padding: 20px;
}
.news-thumbnail img {
  width: 90%;
  border-radius: 29px;
}
.news-text {
  /* background-color: red; */
  flex-basis: 50%;
  padding-left: 25px;
  margin-bottom: 5px;
  flex-grow: 1;
}
.news-title {
  font-size: 28px;
  color: var(--sub-heading-text-color);
  margin: 0;
  margin-bottom: 8px;
}
.media-details {
  margin-bottom: 6px;
}
.time-stamp {
  color: var(--para-text-color);
}
.date {
  margin-right: 4px;
}
.news-desc {
  margin-bottom: 25px;
}
/* RECENT NEWS END ------------------------>>>>>>>>>>> */
/* Donate Now ------------------------>>>>>>>>>>> */
#donation {
  text-align: center;
  padding: 10px 35px;
}
.pay-donation {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--primary-btn-color);
}
.amaounts {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}
.ama-tk {
  flex-grow: 1;
  flex-basis: 15%;
  border: 1px solid rgb(207, 205, 205);
  padding: 25px;
  font-size: 35px;
  font-weight: 500;
  border-radius: 9px;
  background-color: white;
  transition: all 0.5s ease;
}
.ama-tk:hover {
  transform: scale(1.1);
  box-shadow: 2px 9px 20px 4px rgba(165, 56, 96, 0.82);
  background-image: linear-gradient(
    to right,
    #f78ca0 0%,
    #f9748f 19%,
    #fd868c 60%,
    #fe9a8b 100%
  );
}
.ama-tk:nth-child(2) {
  background-color: var(--banar-bg-color);
  background-image: linear-gradient(
    to right,
    #f78ca0 0%,
    #f9748f 19%,
    #fd868c 60%,
    #fe9a8b 100%
  );
}
.other-amaounts {
  flex-grow: 1;
  flex-basis: 100%;
  margin-bottom: 25px;
}
.other-amaounts input {
  width: 80%;
  text-align: center;
  padding: 18px;
  border: none;
  border-radius: 9px;
  color: var(--primary-btn-color);
  outline-color: var(--primary-btn-color);
  transition: all 0.3s ease;
}
.other-amaounts input:focus {
  transform: scale(1.1);
}
/* Donate Now End ------------------------>>>>>>>>>>> */
/* News Letter ------------------------>>>>>>>>>>> */
#news-letter {
  text-align: center;
  background-color: var(--banar-bg-color);
  padding: 60px 20px;
  border-radius: 30px;
  margin-bottom: 80px;
  transform: rotateX(60deg) rotateY(10deg);
  box-shadow: 2px 9px 20px 4px rgba(235, 0, 90, 0.82);
  transition: transform 1s ease;
}
#news-letter:hover {
  transform: none;
}
.nwl-context {
  width: 60%;
  margin: 0 auto;
}
.subscriber-input {
  width: 100%;
}
.subscriber-input input {
  /* width: 100%; */
  /* margin: 0;
  padding: 20px; */
  border: none;
  outline: none;
}
.email-input {
  padding: 15px 20px;
  width: 70%;
  border-radius: 9px 0 0 9px;
}
.email-sub {
  padding: 15px 20px;
  width: 20%;
  color: white;
  font-size: 14px;
  font-weight: 600;
  background-color: var(--primary-btn-color);
  margin: -4px;
  border-radius: 0 9px 9px 0;
}
/* News Letter End ------------------------>>>>>>>>>>> */
/* Footer ------------------------>>>>>>>>>>> */
footer {
  text-align: center;
  background-color: var(--banar-bg-color);
  padding: 32px 0 25px;
}
footer h2 {
  font-size: 28px;
  color: var(--brand-name-color);
}
.socials {
  width: 60%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  gap: 25px;
  border-top: 1px solid rgb(223, 218, 218);
}
/* Footer end ------------------------>>>>>>>>>>> */

@media screen and (max-width: 750px) {
  .container {
    padding: 0px 30px;
  }
}
